<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Poten Studycafe</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<noscript><link rel="stylesheet" href="/stylesheets/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Poten Studycafe</h1>
						<p>저희 포텐 스터디카페를 방문 해주셔서 감사합니다.</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="/" class="logo">Poten Studycafe</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="/">공지사항</a></li>
							<li><a href="/fnq">자주하는 질문</a></li>
							<li><a href="/event">EVENT</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Posts -->
						<section class="posts">
							<article>
								<header>
									<span class="date">2월 28일, 2021</span>
									<h2>주차장 이용 안내</h2>
								</header>
								<p>
									최근 많은 차량으로 인하여 건물 주차장 이용 수칙이 변경 되었습니다.
								</p>
								<p>
									변경된 주차장 이용 수칙!
									<br />
									<b>1. 승용차는 주차 타워를 이용하시면 감사하겠습니다!</b>
									<br />
									주차 타워를 이용시 23시 까지 출차를 하셔야 합니다.
									<br />
									(23시~08시 출차 불가, 주차 타워는 무제한 무료 주차 가능)
									<br />
									<br />
									<b>2. 승용차 이외의 차량은 지하 주차장을 이용 하셔야 합니다.</b>
									<br />
									저희 포텐 이용객 분들께는 지하 주차장 이용시 2시간 주차권 2매를 드립니다.
									4시간 까지는 무료로 이용 가능하시지만, 추가 시간은 부담 하셔야 합니다.
									<br />
									<br />
									<b>3. 일요일과 공휴일은 시간에 관계 없이 주차가 무료 입니다!</b>
									<br />
									<br />
									이외에 궁금하신 점들에 대해서는 언제든지 문의 주세요!
									<br />
									포텐은 여러분의 꿈을 응원 합니다!
								</p>
							</article>
							<article>
								<header>
									<span class="date">3월 12일, 2021</span>
									<h2>환불 규정 안내 & 이벤트</h2>
								</header>
								<p>
								안녕하세요~~! 포텐 입니다!
								<br />
								새로운 봄을 맞이하여 이벤트를 진행합니다🌼
								</p>
								<p>
								기존의 재등록 이벤트와 함께 다른 이벤트들도 진행하오니, 자세한 내용은 EVENT 메뉴를 참고 해주세요!!
								<br />
								새로 정기권을 등록하시는 분들이 많아져서 포텐의 환불 규정도 재안내 드립니다!
								<br />
								정가에 구매하신 기간제 & 정액제 또한 시간권에 비해 할인이 된 상품이므로 사용하신 시간만큼 차감 후 계산되어 환불 금액이 적거나 없을 수 있습니다.
								</p>
								<p>
								정액제(기간권 & 시간권) 환불규정안내
								<br />
								✅ 기간제 환불
								<br />
								→ 1일 기준 10,000원 계산되어 차감
								<br />
								예) 4주권 5일 사용시 : 12만원 - (10,000원 x 5일) = 7만원 환불
								<br />
								*4일 ㅇㅇ시간은 "5일"로 환산됨
								<br />
								✅ 시간제 환불
								<br />
								→ 시간당 2,000원 기준 차감 후 기간 별 환불 금액을 합산하여 계산
								<br />
								(1개월 미만 2만원, 2개월 미만 4만원,2개월 이상 6만원 차감)
								<br />
								예) 한달동안 10시간 사용시 : 2만원 + 2,000x10 = 이용권 금액에서 4만원 차감
								<br />
								<br />
								+ "정기권을 2주를 결제하였는데, 4주로 연장을 하고 싶다" 라는 케이스가 많은데, 이러한 경우는 1,2일 안으로 빠르게 연락주시면 처리 도와드리겠습니다!
								늦어지면 힘들 수 있습니다!
								</p>
								<p>
								항상 포텐을 사랑해주셔서 감사드립니다😍
								<br />
								좋은 환경에서 공부하시도록 항상 노력하겠습니다!
								</p>
							</article>
							<article>
								<header>
									<span class="date">2월 28일, 2021</span>
									<h2>거리두기 1.5단계로 하향!</h2>
								</header>
								<p>
									2/15일 부터 양산시 거리두기가 1.5단계로 하향 조정 되었습니다.
									그러나 기존 1.5단계와 달리 새로 개편된 1.5단계가 적용이 됩니다.
								</p>
								<p>
									💡거리두기 1.5단계 지침💡
									<br />
									1. 음식 섭취 금지(음료는 가능!)
									<br />
									2. 좌석간의 간격 띄우기(칸막이 있는 좌석은 예외)
									<br />
									3. 스터디룸 24시간 이용 가능 하지만 스터디룸 인원제한 (최대 4명)
									<br />

									궁금하신 점들에 대해서는 언제든지 문의 주세요!
									<br />
									마스크는 항상 잊지 마시길 바라겠습니다~~!😷
									<br />
									감사합니다!
								</p>
							</article>
							<article>
								<header>
									<span class="date">2월 17일, 2021</span>
									<h2>🔥포텐 X 박문각🔥</h2>
								</header>
								<p>
								안녕하세요~~!
								<br />
								저희 포텐스터디카페를 이용하시는 분들에게 박문각 상품 할인 코드를 드립니다!📚
								</p>
								<p>
								코드는 <b>PT34</b> 입니다!
								<br />
								박문각을 이용중이신 분들은 꼭 할인 혜택을 받으시길 바라겠습니다!
								</p>
							</article>
							<article>
								<header>
									<span class="date">2월 9일, 2021</span>
									<h2>민원 관련 공지</h2>
								</header>
								<p>
								최근 코로나 사태로 제약이 많은 상황입니다.
								<br />
								규칙을 지키지 않는 분들에 대한 민원이 늘어나고 있어 공지 드립니다.
								</p>
								<p>
								▪️마스크는 실내에서도 반드시 착용 해주세요!!😷
								<br />
								▪️휴게실 세면대는 양치를 하는 공간이 아닙니다! 양치는 화장실을 이용 해주세요~~
								<br />
								▪️컵라면 등 냄새가 나는 음식 같은 경우는 따로 물통에 물을 받아 밖에서 조리 해주세요~~🥺
								</p>
								<p>
								조금 불편하더라도 모두를 위해서 꼭 지켜주세요!!
								</p>
							</article>
					</div>
				<!-- Footer -->
					<footer id="footer">
						<section class="split contact">
							<section class="alt">
								<h3>Address</h3>
								<p>경상남도 양산시 물금읍 삽량로 30<br />
									디온플레이스 세종서관 3층</p>
							</section>
							<section>
								<h3>Phone</h3>
								<p><a href="tel:010-2267-5682">010-2267-5682</a></p>
							</section>
							<section>
								<h3>익명 건의</h3>
								<p><a href = "https://open.kakao.com/o/sU76KvQc">KAKAO</a></p>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; 포텐스터디카페 양산범어점</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/javascripts/jquery.min.js"></script>
			<script src="/javascripts/jquery.scrollex.min.js"></script>
			<script src="/javascripts/jquery.scrolly.min.js"></script>
			<script src="/javascripts/browser.min.js"></script>
			<script src="/javascripts/breakpoints.min.js"></script>
			<script src="/javascripts/util.js"></script>
			<script src="/javascripts/main.js"></script>

	</body>
</html>