<!DOCTYPE html>
<html lang= "ko">
<head>
    <meta charset="utf-8">
    <title>포텐스터디카페</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <header>
        <h1>Poten studycafe</h1>
        <div class="nav">
            <ul>
            <li><a href="./">공지사항 📣</a></li>
            <li>|</li>
            <li><a href="/question" class = "saw">자주하는 질문 💡</a> </li>
            <li>|</li>
            <li><a href="/request" class = "saw">EVENT 🎉</a></li>
            </ul>
        </div>
    </header>
    <main>
        <br>
        <h2>코로나 2단계 카페 이용</h2><br><br>
        안녕하세요! 포텐 스터디카페 입니다‼️
        <br>
        코로나 2단계 격상으로 인한 카페 이용에 대해 궁금증이 많을 거라 예상됩니다.
        <br>
        ▪️스터디 존, 랩탑 존은 24시간 정상영업을 하며(한 칸씩 뛰어앉기 시행), 스터디 룸은 21시 이후 이용 불가입니다.
        <br>
        ▪️그리고 거리두기 2단계 지침상 물과 음료를 제외한 음식물 섭취가 금지됩니다.🚫
        <br>
        이용에 참고하시길 바랍니다 !!
        <br>
        감사합니다 😀
        <br>
    </main>
    <footer>
        <div>
            <h1><img src = "image/mosafqoAER.png" height = "30" width = "30"> 문의하기</h1><br>
            <h4>언제든지 고객님들의 소리를 들려주세요. 사소한 것들도 모두 귀담아 듣겠습니다.</h4>
            <p><a href="tel:010-2267-5682"><img src="image/telephone.svg" width = "32" height="22"></a>
            <a href = "sms:010-2267-5682"><img src = "image/messenger.png" width = "25" height = "22"></a>
          <a href = "https://open.kakao.com/o/sU76KvQc"><img src = "image/kakao-talk.png" width = "25" height = "22"></p>
            <p>전화걸기</p>
        </div>
    </footer>
</body>
</html>
