<!DOCTYPE html>
<html lang= "ko">
<head>
    <meta charset="utf-8">
    <title>포텐스터디카페</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <header>
        <h1>Poten Studycafe</h1>
        <div class="nav">
            <ul>
            <li><a href="./">공지사항 📣</a></li>
            <li>|</li>
            <li><a href="/question" class = "saw">자주하는 질문 💡</a></li>
            <li>|</li>
            <li><a href="/request" class = "saw">EVENT 🎉</a></li>
            </ul>
        </div>
    </header>
    <main>
        <br>
        <br>
        <h2>🔥포텐 X 박문각🔥</h2><br><br>
        안녕하세요~~!
        <br>
        저희 포텐스터디카페를 이용하시는 분들에게 박문각 상품 할인 코드를 드립니다!📚
        <br>
        코드는 PT34 입니다!
        <br>
        <br>
        박문각을 이용중이신 분들은 꼭 할인 혜택을 받으시길 바라겠습니다~~~!
        <br>
        감사합니다!📖
        <br>
        <hr>
        <br>
        <br>
        <br>
        <h2>민원 관련 공지</h2><br><br>
        최근 코로나 사태로 제약이 많은 상황입니다.
        <br>
        규칙을 지키지 않는 분들에 대한 민원이 늘어나고 있어 공지 드립니다.
        <br>
        ▪️마스크는 실내에서도 반드시 착용 해주세요!!😷
        <br>
        ▪️휴게실 세면대는 양치를 하는 공간이 아닙니다! 양치는 화장실을 이용 해주세요~~
        <br>
        ▪️컵라면 등 냄새가 나는 음식 같은 경우는 따로 물통에 물을 받아 밖에서 조리 해주세요~~🥺
        <br>
        <br>
        조금 불편하더라도 모두를 위해서 꼭 지켜주세요!!
        <br>
        감사합니다!
        <br>
        <hr>
        <br>
        <h2>코로나 2단계 카페 이용 관련(~1/31까지)</h2><br><br>
        코로나 2단계 격상으로 인한 카페 이용에 대해 궁금증이 많을 거라 예상됩니다.
        <br>
        ▪️스터디 존, 랩탑 존은 24시간 정상영업을 하며(한 칸씩 뛰어앉기 시행), 스터디 룸은 21시 이후 이용 불가입니다.
        <br>
        ▪️스터디 룸은 원래 6인까지 가능하지만, 현재 거리두기 2단계 지침에 따라 4인까지만 가능합니다!
        <br>
        ▪️거리두기 2단계 지침상 물과 음료를 제외한 음식물 섭취가 카페내에서 금지됩니다🚫
        <br>
        ▪️거리두기가 하향 조정이 되면 즉시 간식류를 제공하고 개인 음식물 섭취도 가능하도록 하겠습니다.
        <br>
        <br>
        이용에 참고하시길 바랍니다 !!
        <br>
        감사합니다 😀
        <br>
        <br>
        <hr>
        <br>
        <h2>주차권 안내</h2><br><br>
        일요일과 공휴일(익일 오전8시까지)은 주차가 무료 입니다!
        <br>
        그 이외의 요일에는 주차권이 필요 합니다.
        <br>
        주차권은 독서대 옆 Staff Room 안에 비치되어 있으니 사용하시면 됩니다!
        <br>
        주의사항으로는 최대 8시간까지 주차권이 적용 되므로, 장기 주차를 하시는 분께서는 8시간이 넘어가기 전에 재주차를 해 주셔야 하는점 양해 부탁드립니다.
        <br>
        <br>
        이외의 문의사항은 문자나 전화 부탁드립니다!
        감사합니다 😀
        <br>
        <br>
        <hr>
    </main>
    <footer>
        <div>
            <!--<h1><img src = "image/mosafqoAER.png" height = "30" width = "30"> 문의하기</h1><br>-->
            <!--<h4>언제든지 고객님들의 소리를 들려주세요. 사소한 것들도 모두 귀담아 듣겠습니다.</h4>-->
            <p>
              <li><a href="tel:010-2267-5682"><img src="image/telephone.png" width = "100" height="100"></a>  </li>
            <li><a href = "sms:010-2267-5682"><img src = "image/messenger.png" width = "100" height = "100"></a>  </li>
          <li><a href = "https://open.kakao.com/o/sU76KvQc"><img src = "image/kakao-talk.png" width = "100" height = "100"></li></p>

        </div>
    </footer>
</body>
</html>
