<!DOCTYPE html>
<html lang= "ko">
<head>
    <meta charset="utf-8">
    <title>포텐스터디카페</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <header>
  <h1>자주하는 질문(FAQ)</h1>
  <div class="nav">
      <ul>
          <li><</li>
          <li><a href="./" class = "saw">공지사항</a></li>
          <li>/</li>
          <li><a href="/question">자주하는 질문</a> </li>
          <li>/</li>
          <li><a href="/request" class = "saw">건의사항</a></li>
          <li>></li>
      </ul>
  </header>
  </div>
  <div class="nav2">
    <ul>
      <li>전체</li>
      <li>회원</li>
      <li>요금</li>
      <li>기타</li>
    </ul>
  </div>

</body>
</html>
