<!DOCTYPE html>
<html lang= "ko">
<head>
    <meta charset="utf-8">
    <title>포텐스터디카페</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<header>
    <h1>자주 묻는 질문(FAQ)</h1>
    <div class="nav">
        <ul>
            <li><</li>
            <li><a href="./" class = "saw">공지사항</a></li>
            <li>/</li>
            <li><a href="/question">자주 묻는 질문</a> </li>
            <li>/</li>
            <li><a href="/request" class = "saw">진행중인 EVENT</a></li>
            <li>></li>
        </ul>
</header>
</div>
<style>
    .answer {
        display: none;
        padding-bottom: 30px;
    }
    #faq-title {
        font-size: 25px;
    }
    .faq-content {
        border-bottom: 1px solid #e0e0e0;
    }
    .question {
        font-size: 19px;
        padding: 30px 0;
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        width: 100%;
        text-align: left;
    }
    .question:hover {
        color: #2962ff;
    }
    [id$="-toggle"] {
        margin-right: 15px;
    }
</style>

<span id="faq-title">자주 묻는 질문(FAQ)</span>
<div class="faq-content">
    <button class="question" id="que-1"><span id="que-1-toggle">+</span><span>영업시간과 휴무일은 어떻게 되나요?</span></button>
    <div class="answer" id="ans-1">저희 포텐스터디카페는 연중무휴에 24시간 영업 입니다. <br>경상남도 양산시는 사회적거리두기 2단계 시행중이므로 24시간 이용 가능합니다.</div>
</div>
<div class="faq-content">
    <button class="question" id="que-2"><span id="que-2-toggle">+</span><span>지문 인식이 잘 안됩니다.</span></button>
    <div class="answer" id="ans-2">모든 손가락으로 등록이 가능하니 다른 손가락으로 재등록을 해 보시고,<br>잘 되지 않으시다면 따로 연락을 주시면 다른 방법으로 입장이 가능하도록 해드리겠습니다.</div>
</div>
<div class="faq-content">
    <button class="question" id="que-3"><span id="que-3-toggle">+</span><span>음식물 섭취가 가능한가요?</span></button>
    <div class="answer" id="ans-3">현재 사회적거리두기 2단계 시행중이므로, 실내에서의 섭취는 불가능 합니다.<br>하향조정이 된다면 과자류도 재배치하고 음식물 섭취가 가능하도록 하겠습니다.</div>
</div>
<div class="faq-content">
    <button class="question" id="que-4"><span id="que-4-toggle">+</span><span>주차는 무료로 이용 가능한가요?</span></button>
    <div class="answer" id="ans-4">공휴일과 일요일은 건물 주차가 무료이고, 나머지 요일은 주차권을 받아가시면 됩니다.<br>주차권은 독서대 옆인 Staff Room에 비치되어 있습니다!</div>
</div>
<div class="faq-content">
    <button class="question" id="que-5"><span id="que-5-toggle">+</span><span>스터디룸은 어떻게 이용하나요?</span></button>
    <div class="answer" id="ans-5">바로 이용하시고 싶으신 분들은 키오스크에서 결제하시면 되고, 예약을 원하시는 분은 따로 연락주시면 상세하게 도와드리겠습니다.</div>
</div>


<script>
    const items = document.querySelectorAll('.question');

    function openCloseAnswer() {
        const answerId = this.id.replace('que', 'ans');

        if(document.getElementById(answerId).style.display === 'block') {
            document.getElementById(answerId).style.display = 'none';
            document.getElementById(this.id + '-toggle').textContent = '+';
        } else {
            document.getElementById(answerId).style.display = 'block';
            document.getElementById(this.id + '-toggle').textContent = '-';
        }
    }

    items.forEach(item => item.addEventListener('click', openCloseAnswer));
</script>

<footer>
    <div>
        <h1>포텐스터디카페</h1>
        <p>경상남도 양산시 물금읍 삽량로 30 디온플레이스 세종서관 3층</p>
        <p><a href="010-2267-5682">전화걸기(나중에 아이콘으로 대처)</a></p>
    </div>
</footer>

</body>
</html>