<!DOCTYPE html>
<html lang= "ko">
<head>
    <meta charset="utf-8">
    <title>포텐스터디카페</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<header>
    <h1>Poten Studycafe</h1>
    <div class="nav">
        <ul>
            <li><a href="./">공지사항 📣</a></li>
            <li>|</li>
            <li><a href="/question" class = "saw">자주하는 질문 💡</a> </li>
            <li>|</li>
            <li><a href="/request" class = "saw">EVENT 🎉</a></li>
        </ul>
    </div>
</header>
<main>
<img class="image" src="image/event.jpg">
</main>
<footer>
  <div>
      <!--<h1><img src = "image/mosafqoAER.png" height = "30" width = "30"> 문의하기</h1><br>-->
      <!--<h4>언제든지 고객님들의 소리를 들려주세요. 사소한 것들도 모두 귀담아 듣겠습니다.</h4>-->
      <p>
        <li><a href="tel:010-2267-5682"><img src="image/telephone.png" width = "100" height="100"></a>  </li>
      <li><a href = "sms:010-2267-5682"><img src = "image/messenger.png" width = "100" height = "100"></a>  </li>
    <li><a href = "https://open.kakao.com/o/sU76KvQc"><img src = "image/kakao-talk.png" width = "100" height = "100"></li></p>
  </div>
</footer>
</body>
</html>
