<!DOCTYPE html>
<html lang= "ko">
<head>
    <meta charset="utf-8">
    <title>포텐스터디카페</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <header>
    <h1>건의사항</h1>
    <div class="nav">
        <ul>
            <li><</li>
            <li><a href="./" class = "saw">공지사항</a></li>
            <li>/</li>
            <li><a href="/question" class = "saw">자주하는 질문</a> </li>
            <li>/</li>
            <li><a href="/request">건의사항</a></li>
            <li>></li>
        </ul>
    </div>
  </header>
</body>
</html>
