<!DOCTYPE html>
<html lang= "ko">
<head>
    <meta charset="utf-8">
    <title>포텐스터디카페</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<header>
    <h1>Poten studycafe</h1>
    <div class="nav">
        <ul>
            <li><a href="./">공지사항 📣</a></li>
            <li>|</li>
            <li><a href="/question" class = "saw">자주하는 질문 💡</a> </li>
            <li>|</li>
            <li><a href="/request" class = "saw">EVENT 🎉</a></li>
        </ul>
    </div>
</header>
<main>
<img class="image" src="image/event.jpg">
</main>
<footer>
    <div>
        <h1>Poten studycafe</h1>
        <p>경상남도 양산시 물금읍 삽량로 30 디온플레이스 세종서관 3층</p><br>
        <p><a href="tel:010-2267-5682"><img src="image/telephone.svg" width = "32" height="22"></a></a></p>
        <p>전화걸기</p>
    </div>
</footer>
</body>
</html>